<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="E:/Intelij/Automation Framework"><classes><class name="PageTestPackage.HomePageTest"><methods><include name="Testlogo"/><include name="TestFreestudent"/><include name="verifylogin"/></methods></class><class name="PageTestPackage.LandingPageTest"><methods><include name="TestWbl"/><include name="TestMailID"/></methods></class><class name="PageTestPackage.LoginPageDDT"><methods><include name="loginddt"/></methods></class><class name="PageTestPackage.LoginPageTest"><methods><include name="Testlogin"/></methods></class></classes></test></suite>